:root{
  --primary: rgb(35,47,65);
  --primary-dark: #25384f;
  --secondary: #67d8c6;
  --secondary-dark: #144c41;
  --error-color: #C86479;
}

.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.homeContainer{
  width: 100vw;
  height: 100vh;
  background: var(--primary);
  background: linear-gradient(3deg, rgba(35,47,65,1) 0%, rgba(47,64,84,1) 35%, rgba(57,75,99,1) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.backButton{
  border: none;
  background-color: transparent;
  color: white;
  cursor: pointer;
}

.bottom-positioned{
  position: absolute;
  top: 1rem;
  right: 1rem;
}